@using System
@{
  Layout = "_Layout";
}
<br><br><br><br>

<br><br>

<button onclick="beginTone()" class="btn btn-outline-info">TONE.JS</button>
<br>
<br><br><br>
<span onclick="beginTone1()" class="dot0"></span>

<span onclick="beginTone2()" class="dot1"></span>

<span onclick="beginTone3()" class="dot2"></span>

<span onclick="beginTone4()" class="dot3"></span>
