body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item {
  margin-left:10px !important;
  margin-right:10px !important;
}

li {
  list-style-type: none;
}

.full-width {
  width:100%;
}

.list-detail {
  color:red;
  font-size:25px;
}

a:hover {
  color:black;
  font-weight:900;
  text-decoration:none;
}

.intro {
  font-size:20px;
}

.bgimage {
  height:250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}


.dot0 {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot0 {
  transition-duration: 0.4s;
}

.dot0:hover {
  background-color:lightblue;
  cursor:pointer;
}

.dot1 {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  transition-duration: 0.4s;
}

.dot1:hover {
  background-color:lightpink;
  cursor:pointer;
}

.dot2 {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  transition-duration: 0.4s;
}

.dot2:hover {
  background-color:blue;
  cursor:pointer;
}

.dot3 {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  transition-duration: 0.4s;
}

.dot3:hover {
  background-color:lightgreen;
  cursor:pointer;
}