body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item {
  margin-left:10px !important;
  margin-right:10px !important;
}

li {
  list-style-type: none;
}

.full-width {
  width:100%;
}

.list-detail {
  color:red;
  font-size:25px;
}

a:hover {
  color:black;
  font-weight:900;
  text-decoration:none;
}

.intro {
  font-size:20px;
}

.bgimage {
  height:250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.button {
  background-color: 	rgb(171, 190, 82); 
  fill: white;
  border: solid .25px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {
  background-color: 	rgb(155, 172, 82);
  fill:white;
  border: solid .25px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button2 {
  background-color: 	rgb(130, 172, 82);
  fill:white;
  border: solid .25px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button3 {
  background-color: 	rgb(100, 172, 82);
  fill:white;
  border: solid .25px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  cursor:pointer;
  border: solid .25px rgb(171, 172, 82);
  color: rgb(171, 172, 82);
  fill: rgb(171, 172, 82);
}

.button1 {
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: white;
  border: solid .25px rgb(155, 172, 82);
  color: rgb(155, 172, 82);
  fill: rgb(155, 172, 82);
}

.button2 {
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: white;
  border: solid .25px rgb(130, 172, 82);
  color: rgb(130, 172, 82);
  fill: rgb(130, 172, 82);
}

.button3 {
  transition-duration: 0.4s;
}

.button3:hover {
  background-color: white;
  border: solid .25px rgb(100, 172, 82);
  color: rgb(100, 172, 82);
  fill: rgb(100, 172, 82);
}

