@{
  Layout = "_Layout";
}
@model AudioProject.Models.Sounds;
@using Microsoft.AspNetCore.Identity
@using AudioProject.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@using System.Security.Claims

<div class="container">
  <div class="jumbotron">
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
      <p>Hello @User.Identity.Name!</p>
      <h4>My library of sounds</h4>
      <hr>
//list out sounds that match your user id from the sounds database
@foreach( in model)



      <p>@Html.ActionLink("Listen", "index", "Grant")</p>
      @using (Html.BeginForm("LogOff", "Account"))
      { <input type="submit" class="btn btn-default" value="Log out" />
      }
    }
    else
    {
      <p>@Html.ActionLink("Register", "Register")</p>
      <p>@Html.ActionLink("Log in", "Login")</p>
    }
  </div>
</div>