@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using AudioProject.Models

<br><br><br><br>
<div class="container">
  <div class="jumbotron">
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
      <p>Hello @User.Identity.Name</p>
      <h2>Welcome to your Library</h2>
      <hr>
      @foreach( var Sound in Model)
      {
        <p>@Html.ActionLink($"{Sound.Name}","Edit", "Tone", new {id = Sound.SoundsId}, new {@class = "btn btn-outline-primary"})</p>
      }
      <hr>
      @using (Html.BeginForm("LogOff", "Account"))
      { <input type="submit" class="btn btn-outline-dark" value="Log out" />
      }
    }
    else
    {
      <p>@Html.ActionLink("Register", "Register")</p>
      <p>@Html.ActionLink("Log in", "Login")</p>
    }
  </div>
</div>