@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using AudioProject.Models

<div class="container">
  <div class="jumbotron">
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
      <p>Hello @User.Identity.Name!</p>
      <h4>My library of sounds</h4>
      <hr>
      @foreach( var Sound in Model)
      {
        <p>@Html.ActionLink($"{Sound.Name}","Edit", "Tone", new {id = Sound.SoundsId})</p>
      }
      @using (Html.BeginForm("LogOff", "Account"))
      { <input type="submit" class="btn btn-default" value="Log out" />
      }
    }
    else
    {
      <p>@Html.ActionLink("Register", "Register")</p>
      <p>@Html.ActionLink("Log in", "Login")</p>
    }
  </div>
</div>