@{
  Layout = "_Layout";
}

@using AudioProject.ViewModels

@model LoginViewModel
<div class="container">
  <div class="jumbotron">
    <h2>Log in with your account</h2>
    <hr />
    @using (Html.BeginForm())
    {
      <p>Email: </p>
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})<br>

      <p>Password: </p>
      @Html.PasswordFor(m => m.Password, new { @class = "form-control"})<br>

      <input type="submit" value="Log in" class="btn btn-info btn-block" />
    }
    <p style="color:red">need to register?</p>
    <p>@Html.ActionLink("Register", "Register", null, null, new { @class = "btn btn-outline-info btn-block"})</p>
  </div>
</div>