@{
  Layout = "_Layout";
}

@using AudioProject.ViewModels
@model RegisterViewModel
<div class="container">
  <div class="jumbotron">
    <h2>Register a new user</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
      <p>Email: </p>
      @Html.TextBoxFor(user=> user.Email, new {@class = "form-control"})<br>

      <p>Password: </p>
      @Html.PasswordFor(user=> user.Password, new {@class = "form-control" })<br>

      <p>Confirm Password: </p>
      @Html.PasswordFor(user=> user.ConfirmPassword, new {@class = "form-control"})<br>

      <input type="submit" value="Register" class="btn btn-info btn-block" />
    }
    <p style="color:blue">already have an account?</p>
    <p>@Html.ActionLink("Log in", "Login", null, null, new {@class = "btn btn-outline-info btn-block"})</p>
  </div>
</div>